extends layout

block content
    img(src='https://secure.img2-fg.wfcdn.com/im/36231833/compr-r85/4406/44061439/curious-hello-black-cat-graphic-art-print-on-canvas.jpg', style='width:600px;height:600px;')